body {
  margin-top: 10%;
  margin-left: 10%;
  font-family: sans-serif;
  font-size: 15px;
  background-color: black;
  color: greenyellow;
}

h1 {
  font-size: 30px;
  font-family: sans-serif;
}

select {
  width: 70px;
  background-color: black;
  color: greenyellow;
}
input {
  width: 150px;
  background-color: black;
  color: greenyellow;
}
